.sourceslayout{
    display: grid;
    grid-template-columns: [first] 15% [second] 35% [third] 35% [last]15%;
    grid-template-rows: [firstrow]6% [secondrow]4% [thirdrow]15% [fourthrow]4% [fifthrow]21% [sixthrow]10% [seventhrow]15% [eighthrow]20% [ninthrow]5%;
    height: 100vh;
    width: 100vh;
    padding-top: 20%;
}

.grid-item {
  /* border: 1px solid black;  */
  padding: 1em;
}

h1{
   font-family: 'Big Shoulders', sans-serif; 
}

h3, p, a{
   font-family: 'Bellefair', serif; 
}

a:link{
    color: orangered;
}
a:hover{
    color: lightcoral;
}